extends layout

block content
  h1= title
  p Welcome to #{title}
  input(type="text")
  button(type="button", onclick="send().then(d=> console.log(d))") Send
  ul(style="list-style: none;")
  script(src='javascripts/main.js')
